			@font-face {
			  font-family: 'Lato';
			  font-style: normal;
			  font-weight: 400;
			  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
			}
			@font-face {
			  font-family: 'Lato';
			  font-style: normal;
			  font-weight: 700;
			  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
			}		
			
			body,html {
				margin:0 auto;
				background:#ccc;
				font-family: Lato, sans-serif;
				height:100%;
				-webkit-perspective: 1200;
			}
			#loader {
				position:absolute;
				top:50%;
				left:42%;
				display:none;
				color:grey;
				font-size:2em;
			}
			
			
			/* Main dialog */

			#maindialog {
				width:250px;
				float:left;
				background:white;
				margin:10px;
				position:fixed;
				padding:15px;
				border:1px solid #ccc;
				-webkit-transition:all 0.25s;
				-webkit-user-select:none;
			}
			#locationinput {
				padding:8px;width: 50%;border: none;font-size: 1.2em;margin: 0px;
			}
			
			#definearea {
				cursor:pointer;
				background:grey;
				color:white;
				padding:10px 9px;
				float:right;
			}
			.right {
				text-align: end;
			}

			.button {
				padding:10px; 
				border:1px solid #ccc;
				cursor:pointer;
				text-decoration:none;
				color:inherit;
				display:inline-block;
				text-align:center;
			}

			.quarter {
				width:23%;
				padding:10px 0px;
			}

			.subhead {
				text-transform: uppercase;
				color:#666;
				
			}
			
			#rent {
				font-size:2em;
				color:#999;
			}
			.scrubber {
				  cursor:ew-resize;
				  -webkit-transition:all 0.2s;
				  -webkit-user-select: none;
				color:black;
				  }

			.scrubber:hover {
				border-bottom:2px dotted grey;
			}
			.scrubber:active {
				  color:orange;
				  }

			
			h4 {
				margin-bottom:10px;
				color:#333;
				font-size:1.2em;
			}
			h5 {
				margin-bottom:2px;
			}		
		


		/* Main map panel */

			#map {
				position:absolute;
				width:100%;
				height:100%;	
				background:#ccc;
				-webkit-transition:all 0.25s;
			}
			.drawmode {
				cursor:crosshair;
			}

			.drawmode .leaflet-marker-icon{
				pointer-events:none;
			}
			.leaflet-map-pane {}
			.leaflet-control-attribution {
				display:none;
			}

			.leaflet-marker-icon {
				padding-left:6px;
				}
			.hoverlistener {
				position:absolute;
				opacity:0;
			}			

			.hoverlistener,
			.leaflet-marker-icon img {
				border-radius:90%;
				width:40px;
				height:40px;
				-webkit-transition:all 0.1s ease-out;
				margin-left:-20px;
				margin-top:-20px;
				background:orange;
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
				border:2px solid white;
			}

			.closed img, .closed .hoverlistener {
				width:0px;
				height:0px;
				margin:0px;
				border:none;
				box-shadow:none;
			}
			.hoverlistener:hover,
			.hoverlistener:hover~img {
				width:200px;
				height:200px;	
				margin-left:-100px;
				margin-top:-100px;
				border:none;
				overflow:hidden;
			}
			
			#map .leaflet-marker-icon:active img{
			}		
			
			#map .leaflet-popup-pane {
				display:none;
			}
			.markertitle {
				text-align:center;
				background-image:url('assets/listingtitlebg.png');
				padding:5px;
				width:200px;
				margin-left:-100px;
				position:absolute;
				height:57px;
				color:white;
				opacity:0;
				pointer-events: none;	
				font-size:1.5em;
			}
			
			.hoverlistener:hover~.markertitle {
				opacity:1;
				margin-top:-62px;				
				-webkit-transition:all .1s;
				pointer-event: none;				
			}
	
			#listingcount {
				position:absolute;
				top:20px;
				text-align:center;
				width:50%;
			}
			#dialogmessage {
				position:absolute;
				bottom:0px;
				color:white;
				text-align:center;
				display:none;
				width:50%;
				margin:0% 25%;
			}
			#demo {
				padding:20px;
				background-color:rgba(0,0,0,0.6);
			}
			.drawmode~#dialogmessage{
				display:block;
			}		
			
			
		/* Circle drawing */

			#circledraw {
				position:absolute;
				display:none;
				pointer-events:none;
				cursor:crosshair;
				width: 100%;
				height: 100%;
			}
			
			#outer {
				stroke-width:2px;
				stroke:white;
				fill:white;
				stroke-opacity:0.5;
			}
			
			#center {
				fill:white;
			}
			#radius {
				stroke:white;
				stroke-opacity:1;
				stroke-width:2px;				
			}

			#radiusdistance {
				fill:white;
				text-anchor:middle;
			}
			.leaflet-popup-close-button {
				display:none;
			}
			path.leaflet-clickable {
				fill:orange;
				fill-opacity:0.05;
				stroke:orange;
				stroke-dasharray:1,10;
				stroke-opacity:1;
				stroke-width:3;
			}


		/* Detail view */

			#detailview {
				width:100%;
				position:absolute;
				z-index:2;
				background:white;
				-webkit-transform:translateY(-3000px);
				transition:all 0.4s;
				height:100%;
				box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
				transition-timing-functio: cubic-bezier(0,1.65,.65,1);
			}		

			#detailtext {
				width:68%;overflow:scroll;height:100%;margin:0% 2%;
			}

			.open#detailview {
				-webkit-transform:translateY(0px);
			}
			.detail-marker img {
				width:20px;
				height:20px;
				border:none;
				margin-left:-10px;
				margin-top:-10px;
			}
			.open~div {
				-webkit-filter: blur(30px) brightness(90%);
				pointer-events: none;
			}
			
			#listingbody {
				color:#333;
			}

			.showcontact {
				color:orange;
				text-decoration: none;
				pointer-events:none;
			}

			.showcontact:before {
				content:'\260e ';
				margin-right:5px;			
			}

			#detailedmap {
				float:right;
				width:30%;
				background:#eee;
				height:100%;
				border-left:1px solid #ccc;
			}
			
			#detailedmap .leaflet-popup-pane {
				margin-top:-20px;
			}
			#detailedmap .leaflet-marker-icon {
				width:20px;
				height:20px;
			}
			#intersectiontooltip {
				font-size:1.5em;
				font-weight:600;
				margin-bottom:-5px;
				text-align:center;
			}
			#bedbath {
				text-transform: uppercase;
			}
			#neighborhood {
				text-transform:capitalize;
				font-style:bold;
			}

			#preview {
				display:inline-block;
				height:400px;
				overflow: hidden;
			}

			#preview img {
				max-width:60px;
				max-height:60px;
				margin-bottom:2px;
				display:block;
				padding-right:15px;
			}

			#preview img:hover~img {
				opacity:0.5;
			}
			#gallery {
				display:table;
				width:100%;
				background:#eee;
				height:400px;
			}
			
			#galleryimg {
				max-height:400px;
			}
