			@font-face {
			  font-family: 'Whitney';
			  font-style: normal;
			  font-weight: 100;
			  src: local('Whitney Regular'), local('Whitney-Regular'), url(assets/Whitney-Light.woff) format('woff');
			}

			@font-face {
			  font-family: 'Whitney';
			  font-style: normal;
			  font-weight: 400;
			  src: local('Whitney Regular'), local('Whitney-Regular'), url(assets/Whitney-Medium.woff) format('woff');
			}
			@font-face {
			  font-family: 'Whitney';
			  font-style: normal;
			  font-weight: 700;
			  src: local('Whitney Bold'), local('Whitney-Bold'), url(assets/Whitney-Semibold.woff) format('woff');
			}		
			
			body,html {
				margin:0 auto;
				background:#ccc;
				font-family: Whitney, sans-serif;
				height:100%;
				-webkit-perspective: 1200;
				min-width:1024px;
			}
			
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 
			#loader {
				position:absolute;
				top:50%;
				left:50%;
				display:block;
				color:grey;
				font-size:2em;
				-webkit-transition-timing-function:cubic-bezier(0,1.2,.87,1);
				transition:all 0.2s;
			}
			
			
			/* Main dialog */

			#maindialog {
				width:250px;
				float:left;
				background:white;
				margin:10px;
				position:fixed;
				padding:15px;
				border:1px solid #ccc;
				-webkit-transition:all 0.25s;
				-webkit-user-select:none;
			}
			#locationinput {
				padding:8px;
				width: 50%;
				border: none;
				font-size: 1.2em;
				margin: 0px;
				font-family:Georgia, serif;
				outline:none;
				text-transform:capitalize;
			}
			input:focus {
				outline:none;
}
			#definearea {
				cursor:pointer;
				background:grey;
				color:white;
				padding:10px 9px;
				float:right;
			}
			.right {
				text-align: end;
			}

			.button {
				padding:10px; 
				border:1px solid #ccc;
				cursor:pointer;
				text-decoration:none;
				color:inherit;
				display:inline-block;
				text-align:center;
				background:white;
			}

			.on {
				background:#abcdef;
			}
			.quarter {
				width:23%;
				padding:10px 0px;
			}

			.subhead {
				text-transform: uppercase;
				color:#666;
				
			}
			
			#rent {
				font-size:2em;
				color:#999;
			}
			.scrubber {
				  cursor:ew-resize;
				  -webkit-transition:all 0.2s;
				  -webkit-user-select: none;
				color:black;
				  }

			.scrubber:hover {
				border-bottom:2px dotted grey;
			}
			.scrubber:active {
				  color:orange;
				  }

			
			h4 {
				margin-bottom:10px;
				color:#333;
				font-size:1.2em;
			}
			h5 {
				margin-bottom:2px;
			}		
		


		/* Main map panel */
			.leaflet-container {
				font-family: inherit;
			}

			#map {
				position:absolute;
				width:100%;
				height:100%;	
				background:#ccc;
				-webkit-transition:all 0.25s;
			}
			.drawmode {
				cursor:crosshair;
			}

			.drawmode .leaflet-marker-icon{
				pointer-events:none;
			}
			.leaflet-map-pane {}
			.leaflet-control-attribution {
				display:none;
			}
			.zoomedout .leaflet-marker-icon *{
				border:3px solid #666;
				width:0px;
				height:0px;
				box-shadow:none;
			}
			.leaflet-marker-icon {
				padding-left:6px;
				}
				
		

			.markertitle,
			.leaflet-marker-icon img {
				border-radius:50%;
				width:40px;
				height:40px;
				-webkit-transition:all 0.25s ease-out;
				-webkit-transform-origin:50% 50%;
				-webkit-transition-timing-function:cubic-bezier(0,1.2,.87,1);
				margin-left:-20px;
				margin-top:-20px;
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
				border:2px solid white;
			}

			.closed, .closed * {
				-webkit-transform:scale(0);
				border:none;
				box-shadow:none;
			}
			.markertitle:hover,
			.markertitle:hover~img {
				width:200px;
				height:200px;	
				margin-left:-100px;
				margin-top:-100px;
				overflow:hidden;
				opacity:1;
				font-size:1.3em;
			}
			
		
			
			#map .leaflet-popup-pane {
				display:none;
			}
			.markertitle {
				position:absolute;
				text-align:center;
				color:black;
				font-weight:100;
				opacity:1;
				background-image:url('assets/fulltitlebg.png');
				font-size:0em;
				line-height:22.5em;
			}
	
			#listingcount {
				position:absolute;
				padding:15px 20px;
				background:rgba(255,255,255,0.8);
				right:0%;
				bottom:0%;
			}
			#dialogmessage {
				position:absolute;
				bottom:0px;
				color:white;
				text-align:center;
				display:none;
				width:50%;
				margin:0% 25%;
			}
			#demo {
				padding:20px;
				background-color:rgba(0,0,0,0.6);
			}
			.drawmode~#dialogmessage{
				display:block;
			}		
			
			
		/* Circle drawing */

			#circledraw {
				position:absolute;
				display:none;
				pointer-events:none;
				cursor:crosshair;
				width: 100%;
				height: 100%;
			}
			
			#drawradius {
				stroke:grey;
				stroke-opacity:1;
				stroke-width:2px;				
			}		
			#outer {
				stroke-width:2px;
				stroke:grey;
				fill:white;
				stroke-opacity:0.5;
			}
			
			#center {
				fill:grey;
			}
			#radius {
				stroke:white;
				stroke-opacity:1;
				stroke-width:2px;				
			}

			#radiusdistance {
				fill:white;
				text-anchor:middle;
			}
			.leaflet-popup-close-button {
				display:none;
			}
			path.leaflet-clickable {
				fill:orange;
				fill-opacity:0;
				stroke:grey;
				stroke-dasharray:1,10;
				stroke-opacity:1;
				stroke-width:3;
			}


		/* Detail view */

			#detailview {
				width:90%;
				max-width:1200px;
				position:absolute;
				z-index:2;
				background:white;
				-webkit-transform:translateY(-3000px);
				-webkit-transition-timing-function:cubic-bezier(0,1.05,.87,1);				
				transition:all 0.4s;
				height:90%;
				box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
				overflow:hidden;
				left:0;
				right:0;
				margin:20px auto auto auto;
				border-radius:6px;
			}		

			#close {
				position:absolute;
				top:0px;
				right:0px;
				color:#ccc;
				font-size:1.5em;
				padding:20px;
				z-index:10;
				cursor:pointer;	
				line-height:18px;
			}
			#close:hover {
				color:#666;
			}
			#detailtext {
				width: 62%;
				position:relative;
				overflow-x:hidden;
				height: 95%;
				padding:2% 4%;
				position:absolute;
				right:0px;
			}
			

			.open#detailview {
				-webkit-transform:translateY(0px);
				-webkit-transition-timing-function:cubic-bezier(0,1.2,1,1);				
			}

			.detail-marker img {
				width:20px;
				height:20px;
				border:none;
				margin-left:-10px;
				margin-top:-10px;
			}
			.open~div {
				-webkit-filter: blur(30px) brightness(90%);
				pointer-events: none;
			}
			#listingprice,
			#neighborhood, 
			#bedbath {
				color: #57657c;
				font-weight:bold;
				font-style: normal;
				text-transform: capitalize;
			}
			
			#listingtitle {
				font-weight:100;
				font-size:1.8em;
				width:80%;
				min-width:500px;
			}
			#listingsubtitle {
				color:#a7b5bc;
				font-family:Georgia, serif;
				font-style:italic;
				margin-top:-15px;
			}
			#listingbody {
				color:#333;
				font-family:Georgia, serif;
				line-height: 160%;
				margin-top:30px;
			}

			#listingbody h1,
			#listingbody h2,
			#listingbody h3,
			#listingbody h4,
			#listingbody h5,
			#listingbody h6,						
			#listingbody b,
			#listingbody strong
			{
				color: #57657c;
				font-family: Whitney, sans-serif;

			}
			h1 {
				font-size:1.5em;
			}

			h2 {
				font-size:1.2em;
			}

			h3,h4,h5,h6 {
				font-size:inherit;
			}
			
			hr {
				border:0.5px solid #57657c;
			}
			.showcontact {
				text-decoration: none;
				pointer-events:none;
				font-weight:bold;
				font-family:Whitney, sans-serif;
				color:#57657c;
			}

			.showcontact:before {
			
			}


			/* Detail map */
			#detailedmap {
				width:30%;
				background:#eee;
				height:100%;
				border-right:1px solid #ccc;
				float:left;
			}
			
			#detailedmap .leaflet-popup-pane {
				margin-top:-20px;
			}
			#detailedmap .leaflet-marker-icon {
				width:20px;
				height:20px;
			}
			.leaflet-popup-content {
				font-size:1.5em;
				margin-bottom:-5px;
				text-align:center;
				font-weight:100;
				color:#666;
				font-family:Georgia, serif;
				font-style:italic;
			}
			
			.streetname {
				font-weight:400;
				display:inline-block;
				color:#57657c;
				font-family:Whitney, sans-serif;
				font-style:normal;
			}
			
			
			
			#bedbath {
			}
			#neighborhood {
			}

			#preview {
				display:none;
				overflow: hidden;
				vertical-align: top;
				padding-right:15px;
				height:420px;
			}

			#preview img {
				max-width:46px;
				max-height:46px;
				margin:2px;
				display:block;
			}

			#preview img:hover {
				opacity:0.5;
			}
			#gallery {
				width:100%;
				height:420px;
				margin:40px 0px;
			}
			#mainimg {
				width:80%;
				height:420px;
				display:inline-block;
				background:url('assets/stripes.png');
				overflow:hidden;
			}
			#galleryimg {
			width:auto;
			margin:0 auto;
			height:420px;
			display:block;
			}
